body {
  font-family: Helvetica,Arial,sans-serif;
  color: #333333;
  text-align: center;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border-bottom: solid 1px #cccccc;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #ababab;
}

nav a:hover {
  color: #00b39b;
}

img {
  max-width: 300px;
}

.hero-image {
  max-width:100%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  color: #333333;
  font-weight: 700;
}


ul {
  padding: 0;
  list-style: none;
}

footer {
  padding: 20px;
  border-top: 1px solid #eef2f2;
  font-size: 0.75rem;
  color: #ababab;
}

.active {
  color: black;
}

.hint {
  font-size: 0.7em;
}

.siteHeader {
  background:#00594c;
  color: #fff;
  box-sizing: border-box;
  max-width: 122rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.1rem 2rem;
}

.Logo-module--full--3tm0l {
  display: block;
}

svg {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: inherit;
  fill: none;
  box-sizing: border-box;
  outline: none;
  width: 22rem;
  height: 2.3rem;
}


.cta {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #00594c;
  border-color: #00594c;
  height: 47px;
  background-color: #00594c;
  color: #fff;
  margin: auto 2rem;
  min-width: 174px;
  padding: 0.7rem 2.4rem;
}
